
{{#each dbArticle}}
<div class="card cardHandler" style="width: 18rem;">
    <img class="card-img-top" src="{{link}}" alt="Car Image">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{summary}}</p>
        <a type="button" href = "{{article}}"  target = "_blank" class = "btn btn-sm btn-link article">View Full Article</a>
        <br>
        <button class="btn btn-sm btn-primary new-note" data-id="{{_id}}">New Note</button>
        <button class="btn btn-sm btn-primary show-note" data-id="{{_id}}">View Notes</button>

        <br>
    </div>
</div>
{{/each}}


<!-- Create Note Modal -->
<div class="modal fade" id="modal-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create A Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="note-header">
                        Note Name:
                        <br>
                        <input class="noteHead" type="text" name="fname">
                    </div>
                    <div class="note-body">
                        Note:
                        <br>
                        <textarea class="noteBody" rows="5" cols="40"></textarea>
                        <br>
                        <input class="note-submit btn-sm btn-primary" type="submit" data-dismiss="modal" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!--View Note Modal -->
<div class="modal fade viewModalShow" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title noteHeadView" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="note-body">
                    Note:
                    <br>
                    <textarea class="noteBodyView" rows="5" cols="30"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-sm btn-primary delete-note">Delete Note</button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- No Note Modal -->
<div class="modal fade noNote" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {{!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> --}}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body noNoteCenter">
        Sorry ... No Available Note To Display
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>